<div class="modal" id="buddy" style="margin-top:5%">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Buddy details</h4>
				</div>
				<div class="modal-body">
					{% csrf_token %}
					<div class="form-group has-warning">
						<label class="control-label" for="buddy_id" style="color:black;">Buddy Id</label>
						<input type="text" class="form-control" id="buddy_id">
	
						<label class="control-label" for="batch_id" style="color:black;">Batch Id</label>
						<input type="text" class="form-control" id="batch_id">

						<label class="control-label" for="batch_name" style="color:black;">Batch Name</label>
						<input type="text" class="form-control" id="batch_name">

						<label class="control-label" for="batch_day" style="color:black;">Batch Day</label>
						<input type="text" class="form-control" id="batch_day">

						<label class="control-label" for="batch_time" style="color:black;">Batch Time</label>
						<input type="text" class="form-control" id="batch_time" help-text="rrrrrrrrrr">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="saveBuddy">Save Buddy</button>
				</div>
			</div>
		</div>
	</div>
</div>	
