<div class="container">
	<div class="row">
		<div class="jumbotron">
			<div class="row">
				<p>This is the place to create assignments for buddies. Add a new Assignment by clicking below button</p>

				<center><a class="btn btn-primary" id="addTask" data-toggle="modal" data-target="#assignment"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add New Assignment</a></center>

				<a class="btn btn-success" id="addBuddyDetail" data-toggle="modal" data-target="#buddy"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Buddy </a>
			</div>
		</div>
	</div>


	<!-- Assignment Modal popup-->

	{% include 'assignment.html' %}


	<!-- Buddy Detail Modal popup-->

	{% include 'buddy_modal.html' %}
	
<div class="container attachData">
	<div class="row">
		{% for task in tasks %}
		<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">{{task.title}}</h3>
			</div>
			<div class="panel-body">
				{{task.description}} <br />
				{% for assignment in task.assignments.all %}
					 <span class="label label-success">{{assignment.buddy.username}}</span>
				{% endfor %}
			</div>
		</div>
	</div>
		{% endfor %}
	</div>
</div>
